/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~GEIMPORTEERDE FONTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
font-family: 'Roboto', sans-serif;
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: aliceblue;
}
#mainWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sketchBox{
    border: 5px solid #333;
    border-radius: 3px;;
    background: #333;
    width:600px;
    height: 600px;
    display:grid;
    padding: 20px
}
.box{
    background: #757575;    
    
}
.gridInput{
    width: 50px;
    padding: 3px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.973);
}
.color{
    background: #EE9ACC;
    border: none;
    border-radius: 5px;
    padding: 6px;
    color: rgb(29, 29, 29);
}
#interface{
    padding: 20px;
    font-size: larger;
    text-align:center;
}
button{
    cursor: pointer;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~TITEL ANIMATIE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.titleWrapper{
    height:100px;
}
.title{ 
    background: linear-gradient(to right, #EE9ACC, #ABF1C8,#EE9ACC,#333,#333,#333,#333,#333,#333,#333,#333,#333,#333);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    height: 50;
    padding:0px 5px;
    margin: 40px;
    text-align: center;
    display:flex;

    /* animatie! */
    animation-name: titleAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}

@keyframes titleAnimation {
    0%{
        background: linear-gradient(to right,#EE9ACC, #ABF1C8,#EE9ACC,#333,#333,#333,#333,#333,#333,#333,#333,#333,#333);
        -webkit-background-clip: text;
    }
    10%{
        background: linear-gradient(to right, #333,#EE9ACC,#ABF1C8,#EE9ACC,#333,#333,#333,#333,#333,#333,#333,#333,#333);
        -webkit-background-clip: text;
    }
    20%{
        background: linear-gradient(to right,#333,#333,#EE9ACC,#ABF1C8,#333,#333,#333,#333,#333,#333,#333,#333);
        -webkit-background-clip: text;
    }
    30%{
        background: linear-gradient(to right,#333,#333,#333,#EE9ACC,#ABF1C8,#333,#333,#333,#333,#333,#333,#333);
        -webkit-background-clip: text;
    }
    40%{
        background: linear-gradient(to right, #333,#333,#333,#333,#EE9ACC,#ABF1C8,#333,#333,#333,#333,#333,#333);
        -webkit-background-clip: text;
    }
    50%{
        background: linear-gradient(to right,#333,#333,#333,#333,#333,#EE9ACC,#ABF1C8,#333,#333,#333,#333,#333);
        -webkit-background-clip: text;
    }
    60%{
        background: linear-gradient(to right,#333,#333,#333,#333,#333,#333,#EE9ACC,#ABF1C8,#333,#333,#333,#333);
        -webkit-background-clip: text;
    }
    70%{
        background: linear-gradient(to right,#333,#333,#333,#333,#333,#333,#333,#EE9ACC,#ABF1C8,#333,#333,#333);
        -webkit-background-clip: text;
    }
    80%{
        background: linear-gradient(to right,#333,#333,#333,#333,#333,#333,#333,#333,#EE9ACC,#ABF1C8,#333),#333;
        -webkit-background-clip: text;
    }
    90%{
        background: linear-gradient(to right,#333,#333,#333,#333,#333,#333,#333,#333,#333,#EE9ACC,#ABF1C8,#333);
        -webkit-background-clip: text;
    }
    100% {
        background: linear-gradient(to right,#333,#333,#333,#333,#333,#333,#333,#333,#333,#333,#EE9ACC,#ABF1C8);
        -webkit-background-clip: text;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MEDIA QUERIES~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media screen and (max-width: 599px) {
    #sketchBox{
        width:80vw;
        height:80vw;
        border: 5px solid #333;
        padding: 0px;
    }
    body{
        overflow: hidden;
    }
  }
  @media screen and (min-width: 600px) {
    #sketchBox{
        width:500px;
        height:500px;
    }
  }
  @media screen and (min-width: 899px) {
    #sketchBox{
        width:700px;
        height:700px;
    }
  }